.Jay {
    color: aqua;
}
.Ash {
    background-color: black;
}
.Ish {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#MyId{
    background-color: black;
}
.asd {
    color: goldenrod;
    padding: 20px;
    margin: 20px;
}